swiper {
    width: 100%;
    height: auto;
    .swiper-wrapper {
        box-sizing: border-box;    
        .swiper-slide {
            box-sizing: border-box;
        }
        .swiper-pagination {
            position: relative;
        }
    }
    .swiper-button-next, .swiper-button-prev {
        display: none;
    }
}

