<header id="header">
    <div id="logoAndNav" class="container">
        <admin-navbar></admin-navbar>
    </div>      
  </header>
  <div id="home-container">
      <router-outlet class="admin-home"></router-outlet>
  </div>
    

